.introducao {
  display: flex;
  gap: 45px;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.introducao:last-child {
  padding-right: 3.5%;
}

@media (max-width: 800px) {
  .introducao {
    gap: 24px;
  }
  .introducao img {
    width: 225px;
    height: 150px;
  }
}

@media (max-width: 600px) {
  .introducao {
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .introducao img {
    width: 140px;
    height: 98px;
  }
}

.noticia {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding-bottom: 80px;
  padding-top: 80px;
  gap: 20px;
  object-fit: cover;
}

.noticia p {
  font: 400 1rem/1.125 "Roboto", sans-serif;
}

.noticia-principal {
  grid-row: 1/3;
}

.noticia-principal h2 {
  font: 700 1.5rem/1.5 "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 1px;
}

.noticia-principal img {
  width: 565px;
  height: 392px;
}

.noticia-secundaria h2 {
  font: 600 1.125rem/1.5 "Poppins", sans-serif;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 8px;
}

.noticia-secundaria img {
  width: 275px;
  height: 229px;
}

.tarifas {
  grid-column: 2/4;
  margin-top: auto;
}

.boletins {
  display: none;
}

@media (max-width: 900px) {
  .noticia {
    grid-template-columns: 1fr;
    justify-items: center;
    width: fit-content;
    padding: 40px 0;
    gap: 16px;
  }
  .noticia p {
    width: 565px;
  }

  .tarifas,
  .noticia-secundaria {
    display: none;
  }

  .boletins {
    display: block;
    font: 400 1.5rem/1.5 "Poppins", sans-serif;
    justify-self: right;
  }
}

@media (max-width: 600px) {
  .noticia {
    padding: 20px 0;
  }
  .noticia img {
    width: 360px;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 4px;
  }
  .noticia h2 {
    font: 400 1.375rem/1.5 "Roboto", sans-serif;
  }
  .noticia p {
    width: 360px;
  }
  .boletins {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .noticia img {
    width: 280px;
    height: 169px;
    object-fit: cover;
  }

  .noticia p {
    width: 240px;
    font-size: 0.625rem;
  }
}
