.introducao {
  display: flex;
  gap: 45px;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.introducao:last-child {
  padding-right: 3.5%;
}

@media (max-width: 800px) {
  .introducao {
    gap: 24px;
  }
  .introducao img {
    width: 225px;
    height: 150px;
  }
}

@media (max-width: 600px) {
  .introducao {
    gap: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .introducao img {
    width: 140px;
    height: 98px;
  }
}
