.footer-bg {
  background-color: var(--s5);
}

.footer {
  padding-top: 40px;
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  color: var(--c01);
}

.footer h2 {
  font: 600 2rem/1.5 "poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-contato p {
  font: 400 1.5rem/1.5 "poppins", sans-serif;
  color: var(--c02);
}

.detalhe:after {
  content: "";
  display: block;
  width: 278px;
  height: 1px;
  background: var(--s4);
  margin: 8px 0;
}

.footer > p {
  grid-column: 1/-1;
}

.footer-map ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-map {
  justify-self: center;
}

.footer-map h2 {
  text-align: center;
}

.footer-map li {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.footer-info {
  justify-self: center;
  color: var(--c02);
}

.footer-info img {
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .detalhe:after {
    width: 200px;
  }

  .footer {
    gap: 20px;
  }

  .footer h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .footer-map p,
  .footer-info p {
    font-size: 0.7rem;
  }

  .footer-contato p {
    font-size: 1rem;
  }

  .footer > p {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }

  .footer-map {
    display: none;
  }
  .footer-info {
    align-content: center;
  }
  .footer-info p {
    font-size: 0.85rem;
  }
}

@media (max-width: 500px) {
  .footer {
    gap: 10px;
    padding-top: 20px;
  }
  .footer h2 {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .footer > p {
    font-size: 0.5rem;
  }

  .footer-contato p {
    font-size: 0.75rem;
  }

  .detalhe:after {
    width: 116px;
  }
  .footer-info img {
    margin-bottom: 10px;
    width: 101px;
    height: 26px;
  }
  .footer-info p {
    font-size: 0.5rem;
  }
  .detalhe:after {
    margin: 4px 0;
  }
}
