.mySlides1,
.mySlides2 {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  user-select: none;
}

.passador {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  right: 240px;
  top: 455px;
}

.passador a:first-child {
  margin-right: 69px;
}
.passador a:last-child {
  margin-left: 69px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--s1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--p4);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
